@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

.bg-white {
  background-color: white !important;
}

[data-dialog-overlay] {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

[data-dialog-content] {
  background-color: white !important;
}

input {
  color: #000 !important;
  background-color: white !important;
}

input::placeholder {
  color: #6b7280 !important;
}
